# Multiple Linear Regression

# TO-Do 1

Execute uma regressão linear múltipla no dataset Bike_Sharing.csv que vocês manipularam na disciplina Statistics Fundamentals, da professora Regina

In [1]:
from sklearn import linear_model
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('bases/Bike_Sharing.csv')
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [3]:
X = df.iloc[:,2:-3].values
y = df.iloc[:,-1]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
y_train

In [4]:
mlr_skl = linear_model.LinearRegression()
mlr_skl.fit(X_train, y_train.ravel())

LinearRegression()

In [5]:
y_pred = mlr_skl.predict(X_test) # predizando
print(mean_squared_error(y_test,y_pred)) # MSE
mlr_skl.coef_  #valores finais de theta

751126.2310636691

array([  532.81457002,  1981.84189358,   -45.73568804,  -386.37928782,
          68.41529588,   161.51159788,  -598.60038909, -2463.45125556,
        8751.38948003,  -965.27937163, -1956.16024225])

# Regression Trees

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeRegressor

In [7]:
dataset = pd.read_csv('bases/50_Startups.csv')
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

### TO-DO 1

Remova as colunas Administration e State do dataset

In [8]:
#resposta
dataset = dataset.drop(columns = ['Administration', 'State'])
dataset.head()

   R&D Spend  Marketing Spend     Profit
0  165349.20        471784.10  192261.83
1  162597.70        443898.53  191792.06
2  153441.51        407934.54  191050.39
3  144372.41        383199.62  182901.99
4  142107.34        366168.42  166187.94

### TO-DO 2
Separe o dataset em vetor de características e variável meta

In [11]:
#resposta
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

assert type(X) == np.ndarray, "É esperado que X seja um numpy.ndarray"
assert type(y) == np.ndarray, "É esperado que y seja um numpy.ndarray"

### TO-DO 3
Treine um modelo de regressão usando Regression Tree

In [12]:
#resposta
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X, y)

DecisionTreeRegressor(random_state=0)

### TO-DO 4
Suponha que a empresa tenha um orçamento de R$ 500.000,00.

Eles estão considerando três opções:

> R&D: 300.000,00 ; Marketing: 200.000,00

> R&D: 200.000,00 ; Marketing: 300.000,00

> R&D: 100.000,00 ; Marketing: 400.000,00

Qual opção irá, a partir do modelo treinado, retornar o maior lucro?

In [13]:
# resposta
orcamentos = [[300000, 200000], [200000,300000], [100000,400000]]

for orcamento in orcamentos:
    y_pred = regressor.predict([orcamento])
    print("Orçamento:", orcamento,
          "\nLucro Predito:", y_pred)
    print()

Orçamento: [300000, 200000]
Lucro Predito: [166187.94]

Orçamento: [200000, 300000]
Lucro Predito: [166187.94]

Orçamento: [100000, 400000]
Lucro Predito: [125370.37]

In [ ]:
from sklearn import linear_model

In [14]:
model = linear_model.LinearRegression()
model.fit(X, y)

LinearRegression()

In [15]:
for orcamento in orcamentos:
    y_pred = model.predict([orcamento])
    print("Orçamento:", orcamento,
          "\nLucro Predito:", y_pred)
    print()

Orçamento: [300000, 200000]
Lucro Predito: [291932.65247867]

Orçamento: [200000, 300000]
Lucro Predito: [215265.03559365]

Orçamento: [100000, 400000]
Lucro Predito: [138597.41870863]